:root {
  --primary-text-color-slate: #434455;
  --title-text-color: #2e2f42;
  --first-logo-color: #4d5ae5;
  --second-logo-color: #2e2f42;
  --third-logo-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --hero-text-color: #ffffff;
  --header-two-color: #2e2f42;
  --hero-image-backround: #2e2f42;
  --focus-hover-color: rgba(77, 90, 229, 1);
  --subtle-backgrounds: #e7e9fc;
  --Light-mode-backgrounds: #f4f4fd;
  --background: #e5e5e5;
  --hero-backround: #2e2f42;
  --button-primary: #e7e9fc;
  --button-h-f: #404bbf;
  --button-text-portfolio: #4d5ae5;
  --curent-color: #31d0aa;
  --border-button: #e7e9fc;
  --btn-h: #9747ff;
  --gradient: rgba(46, 47, 66, 0.7);
  --border-icon: rgba(142, 143, 153, 1);
  --footer-dg-icon: rgba(255, 255, 255, 0.1);
  --footer-icon-h-f: #31d0aa;
  --cover-text: #f4f4fd;
  --overlay-bgc: #4d5ae5;
  --backdrop: rgba(46, 47, 66, 0.4);
  --modal-bgc: #fff;
  --close-bgc: rgba(231, 233, 252, 1);
  --close-border: #e7e9fc;
  --btn-main-modal: #4d5ae5;
  --modal-input-border: #2e2f42;
  --coment-area: rgba(46, 47, 66, 0.4);
  --modal-text: rgba(142, 143, 153, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
}

address {
  font-style: normal;
}

/* прихований заголовок */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
body {
  color: var(--primary-text-color-slate);
  font-family: "Roboto", sans-serif;
  /* padding-top: 76px; */
}
.no-scroll {
  overflow: hidden;
}
/* .container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
} */
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.container {
  max-width: 428px;  
  margin-left: auto;
  margin-right: auto;
}
/* Шапка сторінок*/
.container-header {
    display: flex;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
  padding-top: 24px;
  padding-bottom: 24px;
}

.container-hero {
  padding: 0 16px;
}
.web {
  color: var(--first-logo-color);
}
/* .page-header {
  
  width: 100%;
  min-height: 76px;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--border-button);
  background-color: var(--hero-text-color);
  margin: 0 auto;
} */
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* логотип */
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--second-logo-color);
  text-decoration: none;
  display: flex;
  align-items: start;
  padding: 0px;
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
/* .logo-burger {
  display: flex;
  justify-content: space-between;
  margin: 0;
} */

.burger-menu {
  fill: var(--second-logo-color);
  width: 100%;
  height: 100%;
}
.site-nav {
  display: none;
}
.adr-items {
  display: none;
}

/* меню навігації */

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

/* ------------ Mob Menu-------------------- */
/* .mob {
  padding: 0;
  height: 100%;
 } */
.mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bgc);
  padding-top: 24px;
  padding-left: 40px;
  padding-right: 24px;
  overflow-y: auto;
}
.mob-menu > .container {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .mob-site-nav {
  margin-bottom: 284px; */

.mob-item-nav:not(:last-child) {
  margin-bottom: 40px;
}
.mob-link-nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--second-logo-color);
}
.current {
  color: var(--button-h-f);
}
.mob-link-tel {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--btn-main-modal);
}
.mob-link-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-slate);
}

/* .line {
}
.current {
} */
.menu-button-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--modal-bgc);
  border: 1px solid var(--close-border);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
  padding: 0;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-adr-items {
}
.mob-adr-mail {
  margin-bottom: 48px;
}
.mob-adr-tel {
  margin-bottom: 40px;
}
.mob-soc {
  padding-bottom: 48px;
}
.mob-soc-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.mob-soc-item {
  width: 40px;
  height: 40px;
}
.mob-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--first-logo-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .link {
} */
.mob-soc-icon {
  fill: var(--Light-mode-backgrounds);
}
.mob-site-nav {
  margin-bottom: 24px;
}
/* STUDIO PAGE */
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  width: 100%;
  height: 432px;

  background-image: linear-gradient(to right, var(--gradient), var(--gradient)),
    url(../images/hero-bg-mob1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        var(--gradient),
        var(--gradient)
      ),
      url("../images/hero-bg-mob2x.jpg");
  }
}
/* @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/main-page/bg-mob-2x.jpg);
  }
} */

.hero-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  display: flex;
  justify-content: center;
  text-align: center;
}

/*кнопка головної сторінки*/
.hero-button-item {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--btn-main-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--hero-text-color);
  display: block;
  margin: 72px auto 0;
  padding: 16px 32px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*блок Наши цілі*/
.content-container {
  padding: 0 16px;
 
}
.content-block {
  width: 100%;
  margin-bottom: 72px;
}
.content-list {
  margin-bottom: -72px;
}

.content-pic {
  display: none;
}

.content-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-top: 8px;
}

.content-item {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color-slate);
  margin-top: 8px;
}

/* SECTION "What are we doing" */
.what-section {
  display: none;
}

/* Секція "Наша команда" */
.team {
  background-color: var(--Light-mode-backgrounds);
}
.container-team {
  padding: 0 16px;
  margin: 0 auto;
}

.team-hed-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -72px;
}
.team-photo {
  width: 100%;
}

.title-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.item-card {
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 100%;

}
.item-card {
  margin-bottom: 72px;
}



.box {
  padding: 32px 0;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}

.team-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-text-color);
}
/* SECTION "What are we doing" */

.title {
  display: none;
}
.content-img-list {
  display: none;
}
/* меню "Фильтр" сторінка "Портфоліо" */

.filter {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.item-btn:is(:hover, :focus) {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}
.item-btn {
  margin-right: 24px;
  margin-top: 16px;
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .item-btn:not(:last-child) {
  margin-right: 24px;
}

/* кнопка сторинки Портфоліо */
.button-item {
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--button-text-portfolio);
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: var(--button-primary);
  border: 1px solid var(--border-button);
  border-radius: 4px;
  width: auto;
  box-sizing: border-box;
  padding: 8px 16px 8px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:is(:hover, :focus) {
  background-color: var(--button-h-f);
  color: var(--hero-text-color);
}

/*секція Портфоліо*/

.project {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project {
  margin-right: -16px;
}

/* CARD */
.project-cont {
  /* flex-basis: calc((100% - 76px) / 3); */
  width: 100%;
}

.project-cont {
  margin-right: 16px;
  margin-top: 48px;
  text-decoration: none;
}
.project-img {
  width: 100%;
}

/* .project-cont:nth-of-type(3n + 1) {
  margin-left: 0;
}

.project-cont:nth-of-type(3n) {
  margin-right: 0;
}

.project-cont:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
} */

/* TEXT IN CARD */

.project-hed {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-transform: capitalize;
  margin-bottom: 8px;
}

.project-item {
  font-size: 16px;
  line-height: 0.75;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.after-img {
  padding: 32px 16px 32px 16px;
  border: 1px solid var(--border-button);
  border-top: none;
}

.project-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link {
  display: block;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========================FOOTER======================= */
.footer {
  background: var(--hero-backround);
  padding: 100px 0;
}

.footer-main {
  padding-left: 80px;
  padding-right: 80px;
  
}
 .foter-list {
  
  display: flex;
  flex-direction: column;
 }
.footer-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  width: 264px;
  margin-top: 16px;
}

.footer-logo {
  font-family: "Raleway";
  text-align: center;
  font-style: normal;
  color: var(--footer-text-color);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.75;
  text-decoration: none;
  }
.footer-block {
  
  }

.footer-soc-list {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-top: 16px;
  gap: 24px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.social-block {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
}
.subscribe-block {
  margin-top: 72px;
  
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--footer-dg-icon);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: var(--hero-text-color);
}

.footer-soc-link:is(:hover, :focus) {
  background-color: var(--footer-icon-h-f);
}
.footer-subscribe {
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-style: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);
  background-color: var(--hero-backround);
  padding: 0 16px 0 16px;
  border: 1px solid var(--border-button);
  border-radius: 4px;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe:focus {
  border-color: var(--overlay-bgc);
}

.footer-subscribe::placeholder {
  font-weight: 400;
  font-style: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);
  padding: 8px 0 8px;
}
.footer-main {
 
}
.subscribe-block-hed {
  
  color: var(--footer-text-color);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-button {
  width: 165px;
  height: 40px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--btn-main-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--hero-text-color);

  margin-top: 16px;
  padding: 8px 24px 8px 24px;
  border: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subsc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-button .subscribe-icon::after {
  content: "";
  width: 24px;
  height: 20px;
  padding: 0 24px 0 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  fill: currentColor;
  background-image: url(/images/telegram.svg);
}

.footer-button:is(:hover, :focus) {
  background-color: var(--button-h-f);
  color: var(--hero-text-color);
  outline: none;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--first-logo-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
  fill: var(--Light-mode-backgrounds);
}
.team-soc-link:is(:hover, :focus) {
  background-color: var(--button-h-f);
  outline: none;
}
.customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -72px;
}

.customer-item {
  margin-bottom: 72px;
  margin-right: 16px;
  
}
.customer-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--border-icon);
  border-radius: 4px;
  color: var(--border-icon);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-item-icon {
  fill: currentColor;
}
.customer-item-link:is(:hover, :focus) {
  border: 1px solid var(--button-h-f);
  color: var(--button-h-f);
}

/*
.customer-item-icon:is(:hover, :focus) {
  fill: var(--button-h-f);
}*/



/*.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
*/

/* .project-img {
  position: relative;
}
 .overlay::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0;
 }
 .overlay:hover::before{
  opacity: 1;
 } */

/* .project-cont {
  position: relative;
 } */
 .hed {
  color: var(--footer-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.project-cover-text {
  position: absolute;
  top: 0;
  padding: 40px 32px 0 32px;
  height: 100%;
  width: 100%;
  /* font-family: "Roboto";
  font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cover-text);
  background-color: var(--overlay-bgc);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.project-link:hover .project-cover-text {
  transform: translateY(0);
}
.project-link:focus .project-cover-text {
  transform: translateY(0);
}

.project-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-link {
  display: block;
  text-decoration: none;
  transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-cover-wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--backdrop);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(720deg);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  width: 408px;
  min-height: 576px;
  background: var(--modal-bgc);
  border-radius: 4px;
  padding: 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--modal-bgc);
  border: 1px solid var(--close-border);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
  padding: 0;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:is(:hover, :focus) {
  fill: var(--hero-text-color);
  background-color: var(--button-h-f);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* .no-scroll {
    overflow: hidden;
} */
.modal-form {
}
.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--title-text-color);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  background-color: var(--modal-bgc);
  font-size: 12px;
  padding: 0 0 0 38px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--overlay-bgc);
}

.modal-input:focus + .modal-input-img {
  fill: var(--overlay-bgc);
}
.coment-area {
  height: 120px;
  padding: 8px 8px 8px 16px;
  resize: none;
}
.coment-area::placeholder {
  top: 0;
  left: 0;
  color: var(--coment-area);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /* padding: 8px 8px 8px 0px; */
}

.input-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--modal-text);
}
.input-text-second {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-text);
}

.modal-input-img {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
}
.modal-field {
  margin-bottom: 8px;
}

.privacy-policy {
  color: var(--btn-main-modal);
  margin-left: 3px;
}
.modal-checkbox {
  margin-top: 16px;
}
.modal-text-accept {
  /* letter-spacing: 0.04; */
  display: flex;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text-accept::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.input-chek:checked + .modal-text-accept::before {
  content: "";
  border: none;
  background-color: var(--button-h-f);
  background-image: url(../images/Check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.input-chek:focus + .modal-text-accept::before {
  border-color: var(--button-h-f);
}

.modal-form-button {
  display: block;
  width: 169px;
  margin: 24px auto 0;
  padding: 16px 32px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);

  border-radius: 4px;
  background-color: var(--btn-main-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:is(:hover, :focus) {
  background-color: var(--button-h-f);
  color: var(--hero-text-color);
  outline: none;
}

/* ========  Медіа Запити  ========= */

/* 480 */

/* =========== 768============ */

/* 
  .link:is(:hover, :focus) {
    color: var(--button-h-f);
  }
  .link {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
  }*/

/* ================= 1200 ================ */
