/* ==========1200=========== */

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .container {
    max-width: 1158px;
  }

  /*  =====  Hero =====  */

  .hero {
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(
        to right,
        var(--gradient),
        var(--gradient)
      ),
      url(../images/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--gradient),
          var(--gradient)
        ),
        url("../images/hero-bg-dt2x.jpg");
    }
  }

  .hero-button-item {
    margin: 48px auto 0;
  }
  .container-header {
   
    align-items: baseline;
    justify-content: space-between;
    padding-top: 24px;
  }

  .page-header {
    /* position: fixed; */
    width: 100%;
    min-height: 76px;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--border-button);
    background-color: var(--hero-text-color);
  }
  /* логотип in stile.css*/

  /* меню навігації */
  .navigation {
    display: flex;
    width: 50%;
    padding-right: 0;
    justify-content: start;
  }

  .site-nav {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 76px;
    margin-right: 0;
  }
  .link-nav {
    display: block;
    text-decoration: none;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-nav:is(:hover, :focus) {
    color: var(--button-h-f);
    outline: none;
  }

  .line.current::after {
    content: "";
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 24px;
    background-color: var(--button-h-f);
    border-radius: 2px;
  }

  .current {
    color: var(--button-h-f);
  }

  .item-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .site-nav .item-nav:not(:last-child) {
    margin-right: 40px;
  }

  /* ul адреса */
  .adr-items {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .adr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-bottom: 0;
  }

  .adr-link:is(:hover, :focus) {
    color: var(--focus-hover-color);
  }
  .adr-link {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    /* SECTION "What are we doing" */

    .what-section {
     display: flex;
    }
      /* .content-img-list {
    display: flex;
    justify-content: space-between;
  } */
  .what-img-list {
    display: flex;
    gap: 24px;
  }
   /*блок Наши цілі*/

   .content {
    padding-bottom: 0;
  }

  .content-list {
    flex-wrap: nowrap;
    }

  .content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-top: 8px;
  }

  .content-item {
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
    margin-top: 8px;
  }

  .what-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-bottom: 72px;
  }
  .content-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    border-radius: 4px;
    background-color: var(--Light-mode-backgrounds);
}


  /* .project > .project-cont { */
    /* margin-left: 24px;
      margin-top: 72px;
    margin-right: 24px;
    flex-basis: calc(100% / 3 - 24px);
  }
  .filter {
    display: flex;
    justify-content: center;
  }

  /* Team */

    .team {
    background-color: var(--Light-mode-backgrounds);
  }
  
  /* .team-hed-item {
   flex-wrap: nowrap;
    } */
    .team-hed-item {
        margin-bottom: 0;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
  
  .title-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-bottom: 0;
  }
  
  .item-card {
    background-color: var(--hero-text-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    flex-basis: 264px;
    margin-top: 72px;
    margin-bottom: 0;
  }
  
  .box {
    padding: 32px 0;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 8px;
  }
  
  .team-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--primary-text-color);
  }
  .team-soc-list {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
  }

  .team-soc-item {
    width: 40px;
    height: 40px;
  }
  .team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--first-logo-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-soc-icon {
    fill: var(--Light-mode-backgrounds);
  }
  .team-soc-link:is(:hover, :focus) {
    background-color: var(--button-h-f);
    outline: none;
  }
  /* our advantages
     .content-list {
      display: flex;
      flex-wrap: nowrap;
     }
  
       .content-pic {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 112px;
      width: 264px;
      border-radius: 4px;
      background-color: var(--Light-mode-backgrounds);
    }
    .icon-antenna::before {
      content: "";
      background-image: url(../images/antenna\ 1.svg);
    }
    .icon-clock::before {
      content: "";
      background-image: url(../images/clock\ 1.svg);
    }
    .icon-diagram::before {
      content: "";
      background-image: url(../images/diagram\ 1.svg);
    }
    .icon-astronaut::before {
      content: "";
      background-image: url(../images/astronaut\ 1.svg);
    }
  
    
  
  
  
  /* Шапка сторінок*/

  

  /* 
  .link:is(:hover, :focus) {
    color: var(--button-h-f);
  }
  .link {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
  }*/

  
  /* STUDIO PAGE */

  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--hero-text-color);
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .hero-button-item:is(:hover, :focus) {
    background-color: var(--button-h-f);
    color: var(--hero-text-color);
    outline: none;
  }

  /* меню "Фильтр" сторінка "Портфоліо" */

  .filter {
    display: flex;
    justify-content: center;
  }

  .item-btn:is(:hover, :focus) {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
  }
  .item-btn {
    transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main {
    padding-top: 96px;
  }
  .filter .item-btn:not(:last-child) {
    margin-right: 24px;
  }

  /* кнопка сторинки Портфоліо */
  .button-item {
    font-family: inherit;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--button-text-portfolio);
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background: var(--button-primary);
    border: 1px solid var(--border-button);
    border-radius: 4px;
    width: auto;
    box-sizing: border-box;
    padding: 12px 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button-item:is(:hover, :focus) {
    background-color: var(--button-h-f);
    color: var(--hero-text-color);
  }

  /*секція Портфоліо*/

  .project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 72px;
  }

  /* CARD */
  .project-cont {
    flex-basis: calc((100% - 76px) / 3);
  }

  .project-cont {
    margin: 0 12px 48px;
    text-decoration: none;
  }

  .project-cont:nth-of-type(3n + 1) {
    margin-left: 0;
  }

  .project-cont:nth-of-type(3n) {
    margin-right: 0;
  }

  .project-cont:nth-last-of-type(-n + 3) {
    margin-bottom: 0;
  }

  /* TEXT IN CARD */

  .project-hed {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  .project-item {
    font-size: 16px;
    line-height: 0.75;
    text-transform: capitalize;
    color: var(--primary-text-color);
  }

  .after-img {
    padding: 32px 0 32px 16px;
    border: 1px solid var(--border-button);
    border-top: none;
  }

  /* .project-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .project-link {
    display: block;
    text-decoration: none;
    transition: 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  } */

  /* FOOTER */
  .footer {
    background: var(--hero-backround);
    padding: 100px 0;
  }

  .footer-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
    width: 264px;
    margin-top: 16px;
  }

  .footer-logo {
    font-family: "Raleway";
    font-style: normal;
    color: var(--footer-text-color);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.75;
    text-decoration: none;
    margin-top: 100px;
  }
   
   /*============== CuSTOMER=============== */
  .customer {
    width: 100%;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 0;
  }

  .customer-item {

    margin: 0;
  }
  .container-customer {
    width: 100%;
      margin-bottom: 0;
     
      }
   
       /* ==========FOOTER============= */

 .footer-main {
    padding-left: 16px;
    padding-right: 16px0;
    display: flex;
    margin: 0 auto;
  }
    
  .footer-block {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
   
  }
  .footer-form {
    display: flex;
  }
 
  .footer-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 24px;
  }

  .footer-soc-item {
    width: 40px;
    height: 40px;
  }
  .social-block {
    margin-left: 120px;
  }
  .subscribe-block {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--footer-dg-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-soc-icon {
    fill: var(--hero-text-color);
  }

  .footer-soc-link:is(:hover, :focus) {
    background-color: var(--footer-icon-h-f);
  }
  .footer-subscribe {
    width: 264px;
    height: 40px;
    font-weight: 400;
    font-style: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--hero-text-color);
    background-color: var(--hero-backround);
    padding: 0 16px 0 16px;
    border: 1px solid var(--border-button);
    border-radius: 4px;
    margin-top: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-subscribe:focus {
    border-color: var(--overlay-bgc);
  }

  .footer-subscribe::placeholder {
    font-weight: 400;
    font-style: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--hero-text-color);
    padding: 8px 0 8px;
  }
 

  .footer-button {
    width: 165px;
    height: 40px;
    margin-left: 24px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--btn-main-modal);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--hero-text-color);
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    padding: 8px 24px 8px 24px;
    border: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-button .subscribe-icon::after {
    content: "";
    width: 24px;
    height: 20px;
    padding: 0 24px 0 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    fill: currentColor;
    background-image: url(/images/telegram.svg);
  }

  .footer-button:is(:hover, :focus) {
    background-color: var(--button-h-f);
    color: var(--hero-text-color);
    outline: none;
  }

  .content-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    border-radius: 4px;
    background-color: var(--Light-mode-backgrounds);
  }
  .icon-antenna::before {
    content: "";
    background-image: url(../images/antenna\ 1.svg);
  }
  .icon-clock::before {
    content: "";
    background-image: url(../images/clock\ 1.svg);
  }
  .icon-diagram::before {
    content: "";
    background-image: url(../images/diagram\ 1.svg);
  }
  .icon-astronaut::before {
    content: "";
    background-image: url(../images/astronaut\ 1.svg);
  }

  /*.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  */

  /* .project-img {
    position: relative;
  }
   .overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0;
   }
   .overlay:hover::before{
    opacity: 1;
   } */

  /* .project-cont {
    position: relative;
   } */
  .project-cover-text {
    position: absolute;
    top: 0;
    padding: 40px 32px 0 32px;
    height: 100%;
    /* font-family: "Roboto";
    font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cover-text);
    background-color: var(--overlay-bgc);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
  }

  .project-link:hover .project-cover-text {
    transform: translateY(0);
  }
  .project-link:focus .project-cover-text {
    transform: translateY(0);
  }

  .project-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .project-link {
    display: block;
    text-decoration: none;
    transition: shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .project-cover-wrap {
    position: relative;
    overflow: hidden;
  }

  .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--backdrop);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(720deg);
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    width: 408px;
    min-height: 576px;
    background: var(--modal-bgc);
    border-radius: 4px;
    padding: 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--modal-bgc);
    border: 1px solid var(--close-border);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 24px;
    padding: 0;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close:is(:hover, :focus) {
    fill: var(--hero-text-color);
    background-color: var(--button-h-f);
  }

  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  /* .no-scroll {
      overflow: hidden;
  } */
  .modal-form {
  }
  .modal-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--title-text-color);
  }
  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--modal-input-border);
    border-radius: 4px;
    background-color: var(--modal-bgc);
    font-size: 12px;
    padding: 0 0 0 38px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-input:focus {
    border-color: var(--overlay-bgc);
  }

  .modal-input:focus + .modal-input-img {
    fill: var(--overlay-bgc);
  }
  .coment-area {
    height: 120px;
    padding: 8px 8px 8px 16px;
    resize: none;
  }
  .coment-area::placeholder {
    top: 0;
    left: 0;
    color: var(--coment-area);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    /* padding: 8px 8px 8px 0px; */
  }

  .input-text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--modal-text);
  }
  .input-text-second {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--modal-text);
  }

  .modal-input-img {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-wrap {
    position: relative;
  }
  .modal-field {
    margin-bottom: 8px;
  }

  .privacy-policy {
    color: var(--btn-main-modal);
    margin-left: 3px;
  }
  .modal-checkbox {
    margin-top: 16px;
  }
  .modal-text-accept {
    /* letter-spacing: 0.04; */
    display: flex;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-text-accept::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid var(--title-text-color);
    border-radius: 2px;
    margin-right: 8px;
  }

  .input-chek:checked + .modal-text-accept::before {
    content: "";
    border: none;
    background-color: var(--button-h-f);
    background-image: url(../images/Check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .input-chek:focus + .modal-text-accept::before {
    border-color: var(--button-h-f);
  }

  .modal-form-button {
    display: block;
    width: 169px;
    margin: 24px auto 0;
    padding: 16px 32px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hero-text-color);

    border-radius: 4px;
    background-color: var(--btn-main-modal);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-button:is(:hover, :focus) {
    background-color: var(--button-h-f);
    color: var(--hero-text-color);
    outline: none;
  }
}

