@media screen and (min-width: 768px) {
  
  .container {
    max-width: 768px;
      }
  .container-header {
    padding-bottom: 0;
    padding-top: 0;
          }
  .navigation {
    padding-top: 24px;
  }

  .mob-menu {
    display: none;
  }

  .menu-button {
    display: none;
  }

  /* ----------Heder-------- */
  .site-nav {
    display: flex;
    margin: auto;
  }
  .link-nav {
    display: block;
    text-decoration: none;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-nav:is(:hover, :focus) {
    color: var(--button-h-f);
    outline: none;
  }

  .line.current::after {
    content: "";
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 24px;
    background-color: var(--button-h-f);
    border-radius: 2px;
  }

  .current {
    color: var(--button-h-f);
  }

  .item-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .site-nav .item-nav:not(:last-child) {
    margin-right: 40px;
  }

  /* ul адреса */
  .adr-items {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
  }

  .adr {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    margin-bottom: 12px;
  }

  .adr-link:is(:hover, :focus) {
    color: var(--focus-hover-color);
  }
  .adr-link {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Portfolio */

  .project > .project-cont {
    flex-basis: calc(100% / 2 - 24px);
    margin-right: 24px;
 /* margin-left: 24px;
        margin-top: 72px; */
  }

  .filter {
    display: flex;
    justify-content: center;
  }

  /* Team */

 .team-hed-item {
    column-gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-bottom: -72px; 
     }
  .item-card {
    width: calc((100% - 24px) / 2);
  }
  /* .team-hed-item .item-card:last-child {
    margin-right: 0;

   } */

    /* margin-bottom: 64px;
    flex-basis: 264px; */


  /* =============  Hero ============= */
  .hero {
    height: 438px;
    margin: 0 auto;
    background-image: linear-gradient(
        to right,
        var(--gradient),
        var(--gradient)
      ),
      url(../images/hero-bg-tab1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          var(--gradient),
          var(--gradient)
        ),
        url("../images/hero-bg-tab2x.jpg");
    }
    }
    .hero-button-item:is(:hover, :focus) {
      background-color: var(--button-h-f);
      color: var(--hero-text-color);
      outline: none;
    }
    .hero-header {
      font-size: 56px;
      line-height: 1.07;
    }
    .hero-button-item {
      margin: 36px auto 0;
    }
  

  /* SECTION "What are we doing" */

  .what-section {
    
  }

  /*  ----Our advantages----- /*блок Наши цілі*/

  .content-list.content-block {
    flex-basis: 50%;
  }
  .content-list {
    /* display: flex;
      margin-left: -24px;
      margin-top: -72px; */
    gap: 72px 24px;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  }

  .content-block {
    /* margin-left: 24px;
      margin-top: 72px; */
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
  .content-pic {
    justify-content: center;
  }
  .content-title {
    justify-content: start;
  }
  .content-item {
   margin-right: 0;
  }
  .container-customer {
width: 552px;
  margin-bottom: 0;
 
  }
  .customer-item {
    margin: 0 12px 72px;
       }
.customer-item:nth-of-type(3n+1) {
    margin-left: 0;
}    
  
.customer-item:nth-of-type(3n) {
    margin-right: 0;
}
.customer-item:nth-last-of-type(-n+3) {
margin-bottom: 0;
}
 .customer {
    margin-bottom: 0;
 }


 /* ==========FOOTER============= */

 .footer-main {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: auto;
    margin: 0;
 }

 .footer-list{
  display: block;
 }
 .social-block{
    display: block;
  margin: 0  0 0 24px;  
 }
 .subscribe-block {
  display: block
  
    
  }
.subscribe-block-hed{
    text-align: start;
}
.footer-block {
    display: flex;
    flex-wrap: wrap;
}
 .footer-form {
    display: flex;
 }
 .footer-button {
 
    margin-left: 24px;
 }



    }

